<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>de.meine-piraten</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>de.meine-piraten</string>
				<string>discourse</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>DiscourseAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>piratenapp</string>
			</array>
		</dict>
	</array>
	<key>DISCOURSE_APP_NAME</key>
	<string>$(DISCOURSE_APP_NAME)</string>
	<key>DISCOURSE_AUTH_REDIRECT_HOST</key>
	<string>$(DISCOURSE_AUTH_REDIRECT_HOST)</string>
	<key>DISCOURSE_AUTH_REDIRECT_SCHEME</key>
	<string>$(DISCOURSE_AUTH_REDIRECT_SCHEME)</string>
	<key>DISCOURSE_BASE_URL</key>
	<string>$(DISCOURSE_BASE_URL)</string>
	<key>DISCOURSE_CLIENT_ID</key>
	<string>$(DISCOURSE_CLIENT_ID)</string>
	<key>MEINE_PIRATEN_BASE_URL</key>
	<string>$(MEINE_PIRATEN_BASE_URL)</string>
	<key>KNOWLEDGE_REPO_OWNER</key>
	<string>$(KNOWLEDGE_REPO_OWNER)</string>
	<key>KNOWLEDGE_REPO_NAME</key>
	<string>$(KNOWLEDGE_REPO_NAME)</string>
	<key>KNOWLEDGE_REPO_BRANCH</key>
	<string>$(KNOWLEDGE_REPO_BRANCH)</string>
	<key>PIRAGITATOR_BASE_URL</key>
	<string>$(PIRAGITATOR_BASE_URL)</string>
	<key>TELEGRAM_BOT_TOKEN</key>
	<string>$(TELEGRAM_BOT_TOKEN)</string>
	<key>TELEGRAM_CHAT_ID</key>
	<string>$(TELEGRAM_CHAT_ID)</string>
</dict>
</plist>
