<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>de.meine-piraten</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>de.meine-piraten</string>
            </array>
        </dict>
    </array>
    <key>DISCOURSE_BASE_URL</key>
    <string>$(DISCOURSE_BASE_URL)</string>
    <key>DISCOURSE_CLIENT_ID</key>
    <string>$(DISCOURSE_CLIENT_ID)</string>
    <key>DISCOURSE_AUTH_REDIRECT_SCHEME</key>
    <string>$(DISCOURSE_AUTH_REDIRECT_SCHEME)</string>
    <key>DISCOURSE_AUTH_REDIRECT_HOST</key>
    <string>$(DISCOURSE_AUTH_REDIRECT_HOST)</string>
    <key>DISCOURSE_APP_NAME</key>
    <string>$(DISCOURSE_APP_NAME)</string>
</dict>
</plist>
